:root {
    --color1: #2d2e32;
    --color2: #147efb;
    --color3: #fff;
    --color4: #f9f9f9;
    --color5: #767676;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    background-color: var(--color3);
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--color4);
    box-shadow: 0 0 0px rgba(0, 0, 0, .09);
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

@media (max-width:400px) {
    nav {
        padding: 25px 30px;
    }
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul a {
    color: var(--color1);
    font-weight: 600;
    transition: all .23s;
}

nav ul a:hover {
    color: var(--color2);
}

@media (max-width:900px) {
    nav ul a {
        display: none;
    }
}

.logo {
    color: var(--color1);
    cursor: pointer;
    transition: all .23s;
}

.logo:hover {
    color: var(--color2);
}

.mobile-menu {
    cursor: pointer;
    display: none;
    font-size: 2.3rem;
}

.mobile-menu:hover {
    color: var(--color2);
    transition: all .3s;
}

@media (max-width:900px) {
    .mobile-menu {
        display: flex;
    }
}

.mobile-nav {
    align-items: center;
    background-color: var(--color3);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}

.mobile-nav span {
    cursor: pointer;
    font-size: 3.3rem;
    position: absolute;
    right: 4rem;
    top: 2rem;
}

.mobile-nav span:hover {
    color: var(--color2);
    transition: all .3s;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    gap: 4rem;
    list-style: none;
}

.mobile-nav ul a {
    color: #000;
    font-weight: 500;
}

.mobile-nav ul a:hover {
    color: var(--color2);
    transition: all .3s;
}

.closed-menu {
    left: -100% !important;
}

.open-menu {
    left: 0 !important;
}

.hero {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

@media (max-width:900px) {
    .hero {
        height: auto;
        padding: 11rem 0;
    }
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

@media (max-width:460px) {
    .container {
        padding: 0 1.7rem;
    }
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}


@media (max-width: 900px) {
    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}

@media (min-width:1600px) {
    .content {
        margin-top: 6rem;
    }
}

@media (min-width:1900px) {
    .content {
        margin-top: 10rem;
    }
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}


@media (min-width: 900px) and (max-width:1030px) {
    .hero-main {
        gap: 5rem;
    }
}

@media (min-width: 900px) and (max-width:950px) {
    .hero-main {
        padding-bottom: 50px;
    }
}


@media (max-width: 900px) {
    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.hero-text h1 {
    color: var(--color1);
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width:500px) {
    .hero-text h1 {
        font-size: 4rem;
    }
}

.hero-text p {
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

@media (max-width:900px) {
    .hero-text p {
        margin-bottom: 5rem;
    }
}

.hero-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}

.hero-text span a {
    color: var(--color1);
    font-size: 3rem;
    transition: all .2s;
}

.hero-text span a:hover {
    color: var(--color2);
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
        /* Start and end position */
    }

    50% {
        transform: translateY(-10px);
        /* Peak position */
    }
}

@media (min-width: 900px) and (max-width: 960px) {
    .hero-img {
        height: 29rem;
        width: 29rem;
    }
}

@media (max-width:500px) {
    .hero-img {
        height: 28rem;
        width: 28rem;
    }
}

.skills {
    align-items: center;
    bottom: 0;
    color: var(--color5);
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

@media (max-width:900px) {
    .skills {
        flex-direction: column;
        position: static
    }
}

.skills p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: var(--color1);
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem
}

@media (max-width:900px) {
    .skills p {
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0
    }
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

@media (max-width:900px) {
    .skills ul {
        justify-content: center
    }
}

.skills ul li {
    cursor: pointer
}

.skills ul li img {
    height: 5rem;
    transition: all .3s ease-in-out;
    /* width: 11rem */
}

.skills ul li img:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem)
}

.about {
    background-color: var(--color3);
    padding: 15rem 0
}

@media (max-width:1020px) {
    .about {
        padding: 8rem 0
    }
}

.about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center
}

@media (max-width:1020px) {
    .about-content {
        grid-template-columns: 1fr;
        text-align: center
    }
}

.text-side {
    padding-right: 1.5rem
}

@media (max-width:1020px) {
    .text-side {
        margin: 0 auto;
        max-width: 54rem
    }
}

@media (max-width:400px) {
    .text-side {
        padding-right: 0
    }
}

.text-side h3 {
    color: var(--color2);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.text-side h4 {
    color: var(--color1);
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem
}

.text-side p {
    color: var(--color5);
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

.img-side {
    position: relative;
}


.img-side__main-img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

@media (max-width:1020px) {
    .img-side__main-img {
        margin-bottom: 3.5rem;
    }
}

@media (max-width:460px) {
    .img-side__main-img {
        height: auto;
        width: 90%;
    }
}

/***********************/

.project {
    background-color: var(--color4);
    padding: 15rem 0;
}

@media (max-width:1020px) {
    .project {
        padding: 8rem 0;
    }
}

.project-content {
    display: flex;
    flex-direction: column;
}

@media (max-width:600px) {
    .project-content {
        text-align: center;
    }
}

.project-content p {
    color: var(--color2);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.project-content h3 {
    color: var(--color1);
    font-size: 2.5rem;
    margin-bottom: 6rem;
}

.projects-grid {
    grid-gap: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
}

.projects-grid .pro {
    background-color: var(--color3);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
}

.projects-grid .pro__1 {
    flex-direction: row;
    gap: 8rem;
    height: 40rem;
    padding: 2rem;
}

@media (max-width:120px) {
    .projects-grid .pro__1 {
        flex-direction: column !important;
        gap: 2rem;
        height: 50rem;
        margin: 0 auto;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
    }
}

@media (max-width:400px) {
    .projects-grid .pro__1 {
        width: 100%
    }
}

.projects-grid .pro__img {
    background-color: hsla(0, 0%, 60%, .2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: auto;
    overflow: hidden;
    width: 53rem;
}

@media (max-width:350px) {
    .projects-grid .pro__img {
        width: 100%;
    }
}

.projects-grid .pro__img img {
    padding-top: 5%;
    height: auto;
    width: 100%;
}

.projects-grid .pro__text {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

@media (max-width:1020px) {
    .projects-grid .pro__text {
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .projects-grid .pro__text {
        width: 100%;
    }
}

.projects-grid .pro__text img {
    position: flex;
    right: 19px;
    top: 2px;
    width: 5rem;
}

.projects-grid .pro__text h3 {
    align-items: center;
    color: var(--color1);
    display: flex;
    font-size: 1.7rem;
    gap: .2rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
}

.projects-grid .pro__text p {
    color: var(--color5);
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.stack p {
    background-color: var(--color3);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
    color: #000 !important;
    font-family: Mulish, sans-serif !important;
    font-weight: 600 !important;
}

.links {
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.links,
.links a {
    align-items: center;
    display: flex;
}

.links a {
    color: var(--color1);
    font-size: 1.7rem;
    font-weight: 500;
    gap: 5px;
    text-decoration: none;
}

.links a i {
    font-size: 2.8rem;
}

.links a .link-icon {
    font-size: 2rem !important;
}

.links a img {
    width: 3.5rem;
}

.links a:hover {
    color: var(--color2);
    transition: all .3s;
}

.reversed-proj {
    flex-direction: row-reverse !important;
}

.date-class {
    color: hsla(0, 5%, 8%, .773);
    font-size: 1.4rem;
    margin-left: .2rem;
}

.contact {
    background-color: var(--color3);
    padding: 11rem 0;
}

@media (max-width:1020px) {
    .contact {
        padding: 8rem 0;
    }
}

.contact__content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
    .contact__title {
        text-align: center;
    }
}

.contact__title p {
    color: var(--color2);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.contact__title h3 {
    color: var(--color1);
    font-size: 2.5rem
}

.contact__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 6rem;
}

@media (max-width: 750px) {
    .contact__icons {
        flex-direction: column;
        gap: 0;
        justify-content: center;
        text-align: center;
    }
}

.contact__icons span {
    align-items: center;
    background-color: var(--color3);
    border-radius: 50%;
    color: var(--color1);
    display: flex;
    height: 15rem;
    justify-content: center;
    width: 15rem;
}

.contact__icons span a {
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.contact__icons span a:hover {
    transform: translateY(5px);
    color: var(--color2);
}

footer {
    background-color: var(--color1);
    padding: 5rem 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--color3);
    font-size: 1.7rem;
}
